:root {
	--base-color:rgba(255,255,255,0.9);
	--base-font-family:impact;
	--base-font-size:1.5em;

}
*,*:before,*after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
.loader > img {
  animation: 2s spin infinite linear;
}
.loader {
  text-align: center;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 100;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
}
@keyframes spin {
  0% {
  transform: scale(0.5);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.5);
  }
}
.done {
  opacity: 0;
  visibility: hidden;
}
html,body{
	height: 100%;
}
@font-face {
	font-family: 'impact';
	font-display: swap;
	src: url("../fonts/impact.eot");
	src: local("O"), url("../fonts/impact.woff") format("woff"), 
			url("../fonts/impact.ttf") format("truetype"), 
			url("../fonts/impact.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Brightland';
	font-display: swap;
	src: url("../fonts/Brightland.eot");
	src: local("O"), url("../fonts/Brightland.woff") format("woff"), 
			url("../fonts/Brightland.ttf") format("truetype"), 
			url("../fonts/Brightland.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Belinda';
	font-display: swap;
	src: url("../fonts/belinda.otf");
	src: local("O"), 
			url("../fonts/Belinda Script.ttf") format("truetype"), 
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'dumb';
	font-display: swap;
	src: url("../fonts/3dumb.eot");
	src: local("O"), url("../fonts/3dumb.woff") format("woff"), 
			url("../fonts/3dumb.ttf") format("truetype"), 
			url("../fonts/3dumb.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

body{
	background: black;
}
.mainpage-class {
	display: flex;
	flex-direction: column;
}
.mainpage-class-content {
	flex-grow: 1;
}
.mainpage-class-footer {
	margin-bottom: 10px;
}
/******************************************HEADER*******************************************/
.img-header{
	cursor: pointer;
	max-width: 27px;
	filter: brightness(85%);
	float: right;
}
.img-header:hover{
	max-width: 30px;
	filter: brightness(120%);

}
.search {
	display: flex;
	justify-content: center;
	align-items: center;
}
.search > .search-content > #search {

	width: 0px;
	border: none;
	outline: none;
	background-color:black;
	transition: 0.4s;

}
.search > .search-content > .search-list {
	display: none;

}
.search:hover> .search-content > .search-list {
	display: flex;
	justify-content: center;
	align-items: center;

}

.search:hover > .search-content > #search  {
	width: 120px;
	margin-right: 10px;
	color: white;
	border-bottom: 1px solid white;
}
.search > .search-image {
	position: relative;
}
.search > .search-content {
	position: absolute;
	left: -66px;
	top: 8px;
}


.search-item {
	width: 150px;
	color:white;
	text-decoration: none;
	font-family: impact;
	padding-top: 10px;
	padding-bottom: 10px;
	text-shadow: black 1px 2px 0, black -1px -2px 0, 
                 black 0px 0px 0, black 0px 0px 0;
}
.search-list {
	font-size: 18px;
	display: flex;
	flex-direction: column;
}
.header_mobile_menu{
	display: none;
}
.header{
position: relative;
top:0;
left: 0;
z-index: 50;
}
.header:before{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;

}
.header_container{
	max-width: 1200px;
	margin: 0 auto;
}
.header_body{
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}
.header_logo {
	padding-top: 5px; 
	max-width: 200px;
	position: relative;
	z-index: 3;
}
.header_logo img{
	padding-top: 10px;
	max-width: 100%;
}
.header-link .header_burger{
	display: none;
}
.header-link-burger {
	display: none;
}
.login {
	position: relative;
}
.header-menu-link {
	display: none;
	position: absolute;

}

.header-menu-link-item > a {
	width: 100%;
  text-decoration: none;
  color: rgba(255,255,255,0.9);
  font-family: impact;
}
.header-menu-link-item:hover > a {
	width: 100%;
  text-decoration: none;
  color: rgba(255,255,255,1);
  font-family: impact;
}
.menu-arrow {
	position: absolute;
	right: -23px;
	top: 11px;
	width: 0;
	height: 0;
	border-top: 10px solid #fff;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
}
.header_list li{
	list-style: none;
	margin-left: 30px;

}
@media (max-width: 767px){
	.img-header{
		cursor: pointer;
		max-width: 27px;
		filter: brightness(85%);
		float: right;
	}
	.header_list li{
		list-style: none;
		margin-left: 23px;

	}
	.search > .search-content {
		display: none;
		position: absolute;
		left: -59px;
		top: 17px;
	}
	.search:hover > .search-content > #search  {
		width: 109px;
	}
	.search > .search-content > #search  {
		width: 109px;
		margin-right: 0px;
		color: white;
		border-bottom: 1px solid white;
	}
	.search-input > input {
		width:100px;
	}
	.search-input {
		left:-30px;
		top:8px;
	}
	.search-list{
		font-size: 15px;
		left: 26px;
		top: 40px;
	}
	.header-link-burger {
	display: block;
		}
	body.lock{
		overflow: hidden;
	}
	.header_burger.active:before{
		transform:rotate(45deg);
		top: 8px;
	}
	.header_burger.active:after{
		transform:rotate(-45deg);
		bottom: 8px;
	}
	.header_burger.active span{
		transform: scale(0);
	}
	.header_body{
		height: 50px;
	}
	.header_logo {
	flex:0 0 130px;
	position: relative;
	z-index: 3;
	}
	.header_burger{
	display: block;
	position: relative;
	width: 23px;
	height: 18px;
	position: relative;
	z-index: 3;
	}
	.header_burger span{
		position: absolute;
		background-color: rgba(255,255,255,0.9);
		left: 0;
		width: 100%;
		height:2px;
		top: 8px;
		transition: 0.3s;
	}
	.header_burger:before,
	.header_burger:after{
		content: '';
		background-color:rgba(255,255,255,0.9);
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: 0.3s;
	}

	.header_burger:before{
		top: 0;
	}
	.header_burger:after{
		bottom: 0;
	}
	.header_link_private_cabinet{
		display: none;
	}
	.header_mobile_link{
		text-align: center;
	}
	.header_mobile_link > a {
		color: white;
		text-decoration: none;
	}
	.header_mobile_menu{
		position: fixed;
		display: block;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.8);
		padding-top: 60px;
		overflow: auto;
		transition: 0.3s;

	}
	.header_mobile_menu.active{
		top:0;
		transition: 0.3s;
	}
	.header_mobile_list{
		list-style: none;
		font-family: var(--base-font-family);
		color: var(--base-color);
		text-decoration: none;
		font-size: var(--base-font-size);
	}
	.header_mobile_link{
	margin-bottom: 20px;
	}


}
.header_menu{

}
.header_list{
	padding-top: 5px;
	margin-right: 10px;
	display: flex;
	position: relative;
	align-items: center;
	z-index: 3;
}

.header_list li .header-menu-link-item{
	list-style: none;
	margin-left: 0px;

}
.header_link{
	text-transform: uppercase;
}
.login > span {
	cursor: pointer;
	font-family: var(--base-font-family);
	color: rgba(255,255,255,0.9);
	text-decoration: none;
	font-size: var(--base-font-size);
}
.login > a {
	cursor: pointer;
	font-family: var(--base-font-family);
	color: rgba(255,255,255,0.85);
	text-decoration: none;
	font-size: var(--base-font-size);
}
.login:hover > a {
	cursor: pointer;
	font-family: var(--base-font-family);
	color: rgba(255,255,255,1);
	text-decoration: none;
	font-size: 25px;
}
.span-header {
	font-size: 17px;
}
@media (max-width: 413px){
	.header_list li{
		list-style: none;
		margin-left: 28px;

	}
	.img-header{
		max-width: 26px;
	}
	.img-header:hover{
		max-width: 26px;

	}
	.search > .search-content {
		left: -41px;
		top: 17px;
	}
	.header_burger{
	width: 23px;
	height: 18px;
	}

}
@media (max-width: 376px){
	.search:hover > .search-content > #search  {
		width: 95px;
		font-size: 11px;
	}
	.header_list{
		padding-top: 8px;
	}
	.header_list li{
		list-style: none;
		margin-left: 24px;

	}
	.img-header{
		max-width: 28px;
	}
	.img-header:hover{
		max-width: 30px;

	}
	.search > .search-content {
		left: -30px;
		top: 25px;
		font-size: 10px;
	}
	.header_burger{
	width: 23px;
	height: 18px;
	}

}
@media (max-width: 330px){
	.search:hover > .search-content > #search  {
		width: 80px;
		font-size: 10px;
	}
	.header_list{
		padding-top: 8px;
	}
	.header_list li{
		list-style: none;
		margin-left: 24px;

	}
	.img-header{
		max-width: 28px;
	}
	.img-header:hover{
		max-width: 30px;

	}
	.search > .search-content {
		left: -9px;
		top: 25px;
		font-size: 10px;
	}
	.header_burger{
	width: 23px;
	height: 18px;
	}

}

/*******************************************************************************************/


/******************************************FOOTER*******************************************/


.footer {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	color: var(--base-color);
	font-family: var(--base-font-family);
}

.footer-item > a{
	color: var(--base-color);
	text-decoration: none;
	font-size: var(--base-font-size);
}
@media(max-width: 767px){
	.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--base-color);
	font-family: var(--base-font-family);
	}
	.footer-item  {
	margin-bottom: 20px;
}
.footer-item > a {
	color: var(--base-color);
	text-decoration: none;
	font-size: var(--base-font-size);
}
}

/*******************************************************************************************/

/******************************************SHOP*******************************************/

.main-content-product {
	max-width: 1340px;
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.product{
	margin: 15px;
}
.product-item > a {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	font-family: var(--base-font-family);
	text-decoration: none;
	color: var(--base-color);
	font-size: 1.4em;
}
.main-content-product > .product > a > img {
	border-radius: 5px;
	max-width: 250px;
}
@media(max-width: 767px) {
	.main-content-product {
	width: 100%;
	margin: 25px auto;
	display: flex;
	flex-wrap: wrap;

}
.main-content-product > .product > a > img {
	max-width: 300px;
}
.product-item > a {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	font-family: var(--base-font-family);
	text-decoration: none;
	color: var(--base-color);
	font-size: var(--base-font-size);
}
.product{
	margin: 15px;
}
}
@media(max-width: 677px) {
	.main-content-product {
	max-width: 100%;
	margin: 25px auto;
	display: flex;
	flex-wrap: wrap;

}
.main-content-product > .product > a > img {
	max-width: 250px;
}
.product-item > a {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	font-family: var(--base-font-family);
	text-decoration: none;
	color: var(--base-color);
	font-size: var(--base-font-size);
}
.product{
	margin: 10px;
}
}

@media(max-width: 677px) {
	.main-content-product {
	max-width: 100%;
	margin: 25px auto;
	display: flex;
	flex-wrap: wrap;

}
.main-content-product > .product > a > img {
	max-width: 230px;
}
.product-item > a {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	font-family: var(--base-font-family);
	text-decoration: none;
	color: var(--base-color);
	font-size: 1.4em;
}
.product{
	margin: 10px;
}
}
@media(max-width: 515px) {
	.main-content-product {
	max-width: 100%;
	margin: 25px auto;
	display: flex;
	flex-wrap: wrap;

}
.main-content-product > .product > a > img {
	max-width: 190px;
}
.product-item > a {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	font-family: var(--base-font-family);
	text-decoration: none;
	color: var(--base-color);
	font-size: 1.2em;
}
.product{
	margin: 10px;
}
}
@media(max-width: 435px) {
	.main-content-product {
	max-width: 100%;
	margin: 25px auto;
	display: flex;
	flex-wrap: wrap;

}
.main-content-product > .product > a > img {
	max-width: 170px;
}
.product-item > a {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	font-family: var(--base-font-family);
	text-decoration: none;
	color: var(--base-color);
	font-size: 1.1em;
}
.product{
	margin: 10px;
}
}
@media(max-width: 395px) {
	.main-content-product {
	max-width: 100%;
	margin: 25px auto;
	display: flex;
	flex-wrap: wrap;

}
.main-content-product > .product > a > img {
	max-width: 150px;
}
.product-item > a {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	font-family: var(--base-font-family);
	text-decoration: none;
	color: var(--base-color);
	font-size: 1em;
}
.product{
	margin: 10px;
}
}
@media(max-width: 395px) {
	.main-content-product {
	max-width: 100%;
	margin: 25px auto;
	display: flex;
	flex-wrap: wrap;

}
.main-content-product > .product > a > img {
	max-width: 140px;
}
.product-item > a {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	font-family: var(--base-font-family);
	text-decoration: none;
	color: var(--base-color);
	font-size: 0.9em;
}
.product{
	margin: 10px;
}
}
@media(max-width: 335px) {
	.main-content-product {
	max-width: 100%;
	margin: 25px auto;
	display: flex;
	flex-wrap: wrap;

}
.main-content-product > .product > a > img {
	max-width: 130px;
}
.product-item > a {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	font-family: var(--base-font-family);
	text-decoration: none;
	color: var(--base-color);
	font-size: 0.7em;
}
.product{
	margin: 10px;
}
}
@media(max-width: 315px) {
	.main-content-product {
	max-width: 100%;
	margin: 25px auto;
	display: flex;
	flex-wrap: wrap;

}
.main-content-product > .product > a > img {
	max-width: 110px;
}
.product-item > a {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	font-family: var(--base-font-family);
	text-decoration: none;
	color: var(--base-color);
	font-size: 0.6em;
}
.product{
	margin: 10px;
}
}
/*******************************************************************************************/

/******************************************ARTISTS*******************************************/

.image > a > img {
		max-width: 200px;
		filter: grayscale(100%)  contrast(112%) brightness(93%);
	}
.image > a > img:hover {
	filter: grayscale(0%);
	transform: translate(0, -10%);
	transition: 0.35s;
}


.main-content-artist {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1200px;
	margin: 25px auto;
}

.artist-item {
	position: relative;
}

.artist-name {
	position: absolute;
	right: 50px;
	bottom: 15px;
}

.artist-item {
	padding: 5px;
	max-width: 270px;
}

.artist-name > a {
	font-family: Brightland;
	font-size: 2.7em;
	font-weight: 400;
	text-decoration: none;
	color: black;
	text-shadow: white 1px 2px 0, white -1px -2px 0, 
                 white 0px 0px 0, white 0px 0px 0;
}
@media(max-width: 1066px) { 
		.image > a > img {
		max-width: 180px;
		filter: grayscale(100%)  contrast(112%) brightness(93%);
	}
	.artist-name > a {
		font-size: 2.5em;
	}
}
@media(max-width: 1066px) { 
		.image > a > img {
		max-width: 180px;
		filter: grayscale(100%)  contrast(112%) brightness(93%);
	}
	.artist-name > a {
		font-size: 2.5em;
	}
}
@media(max-width: 777px) { 
		.image > a > img {
		max-width: 160px;
		filter: grayscale(100%)  contrast(112%) brightness(93%);
	}
	.artist-name > a {
		font-size: 2.5em;
	}
}
@media(max-width: 526px) { 
		.image > a > img {
		max-width: 130px;
		filter: grayscale(100%)  contrast(112%) brightness(93%);
	}
	.artist-name > a {
		font-size: 2.2em;
	}
}
@media(max-width: 437px) { 
		.image > a > img {
		max-width: 110px;
		filter: grayscale(100%)  contrast(112%) brightness(93%);
	}
	.artist-name > a {
		font-size: 1.7em;
	}
}
@media(max-width: 376px) { 
		.image > a > img {
		max-width: 100px;
		filter: grayscale(100%)  contrast(112%) brightness(93%);
	}
	.artist-name > a {
		font-size: 1.5em;
	}
}
@media(max-width: 347px) { 
		.image > a > img {
		max-width: 80px;
		filter: grayscale(100%)  contrast(112%) brightness(93%);
	}
	.artist-name > a {
		font-size: 1.1em;
	}
}
@media(max-width: 286px) { 
		.image > a > img {
		max-width: 60px;
		filter: grayscale(100%)  contrast(112%) brightness(93%);
	}
	.artist-name > a {
		font-size: 0.8em;
	}
}


/*******************************************************************************************/

/******************************************ARTIST*******************************************/

.artist-main-section {
	display: flex;
	max-width: 1100px;
	margin: 0px auto;
	padding: 20px;
	border-bottom: 1px solid white;
}

.product-class {
display: flex;
justify-content: center;
max-width: 1100px;
margin: 0 auto;
padding-bottom: 20px;
}

.artist-product-item {
	margin: 20px;
	display: flex;
	flex-direction: column;
}

.artist-image{
	max-width: 250px;
	max-height: 250px;
}

.artist-product-item > a > img {
	margin: 5px 40px 15px 40px;
	border-radius: 4px;
	width: 270px;
	height: 230px;
}

.artist-main-section >.text {
	padding:90px 40px 0px 0px;
	color: var(--base-color);
	font-family: helvetica;
	font-size: 1.2em;
	display: flex;
	align-items: center;
}

.artist-product-item > a {
	display: flex;
	align-self:center;
	color: var(--base-color);
	font-family: var(--base-font-family);
	text-decoration: none;
	font-size: 1.4em;
	margin-top: 10px;

}
.stuff-class {
	max-width: 1100px;
	margin: 30px auto 0px auto;
}
.stuff{
	color: var(--base-color);
	font-family: belinda;
	font-size: 1.7em;
	}

@media(max-width: 767px){
	.stuff{
	color: var(--base-color);
	font-family: belinda;
	font-size: 1.5em;
	display: flex;
	align-items: center;
	}
	.artist-main-section {
		display: flex;
		flex-direction: column;
	max-width: 100%;
	margin: 20px auto;
	justify-content: center;
	padding: 0px;
}
.artist-main-section >.text {
	max-width: 500px;
	color: var(--base-color);
	font-family: Helvetica;
	font-size: 1.5em;

	align-items: center;
	padding: 20px;
	order:3;
}
.name-artist {
	color: var(--base-color);
	font-family: belinda;
	font-size: 1.5em;
	display: flex;
	align-items: center;
}
.artist-main-section > .pictureandname> img {
	max-width: 200px;
	max-height: 200px;
}
.pictureandname{
 display: flex;
 padding-left: 20px;
 padding-right: 20px;
}
.name-artist {
	align-items: flex-end;
	margin-left: 30px;
}
.artist-product-item {
	margin: 20px;
	padding: 0 0;
	display: flex;
	flex-direction: column;
}
.artist-product-item > a > img {
	margin: 0px;
	border-radius: 5px;
	width: 160px;
	height: 160px;
}
.artist-product-item > a {
	display: flex;
	align-self:center;
	color: var(--base-color);
	font-family: var(--base-font-family);
	text-decoration: none;
	font-size: 1em;
	margin-top: 10px;
}
}
@media(max-width: 370px){
	.artist-main-section > .pictureandname> img {
	max-width: 185px;
	max-height: 185px;
}
}
@media(max-width: 349px){
	.artist-main-section > .pictureandname> img {
	max-width: 185px;
	max-height: 185px;
}
.name-artist{
	font-size: 1em;
}
}
/*******************************************************************************************/
/******************************************T-SHIRT*******************************************/
.photo-description {
	margin-right: 50px;
	display: flex;
	flex-direction: column;
}
.description-photo-1 {
	display: none;
}

.all-info {
	display: flex;
	flex-direction: column;
}
.main-product {
	font-size: var(--base-font-size);
	font-family: var(--base-font-family);
	color: var(--base-color);
	margin: 70px;
	display: flex;
	justify-content: center;
}
.product-name > p {
	margin-top: 0px;
	display: flex;
	justify-content: center;
}
.choose-section {
	margin: -5px;
	display: flex;
	justify-content: center;
}
.radioinput > input {
	margin: 15px;
}

.button-shop {
	margin: 15px;
	display: flex;
	justify-content: center;
}
.description {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(255,255,255,0.9);
}
.button-shop > button {
	font-size: .9em;
	font-family: var(--base-font-family);
	color: var(--base-color);
	transition-duration: 0.4s;
	padding: 10px 20px;
	background-color: black;
	border: 1px solid rgba(255,255,255,.9);
	border-radius: 0.4em;
	margin-top: 10px;
}
.button-shop > button:hover {
	font-size: .9em;
	padding: 10px 20px;
	background-color: white;
	border: 1px solid white;
	color: black;
	border-radius: 0.4em;
}
.photo > img {
	max-width: 400px;
}
.photo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.radioinput {
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	margin: 10px;

}
.button-shop > a > button {
	background: black;
	font-size: 22px;
	color: white;
	border: 1px solid white;
	width: 300px;
	height: 50px;

}
.fuckin {
	display: flex;
	align-items: center;
}
.description-item{
	width: 0;
	height: 0;
	border-top: 10px solid #fff;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
}

@media(max-width: 767px) {
	.product-name > p {
	margin: 15px;
	display: flex;
	justify-content: center;
}
	.main-product {
	font-size: var(--base-font-size);
	font-family: var(--base-font-family);
	color: var(--base-color);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.description-photo {
	display: none;
}
.photo > img {
	width: 250px;
}
.description-photo-1 {
	display: block;
}
.photo-description {
	margin: 30px 0 30px 0;
	display: flex;
	flex-direction: column;
}
}
/*******************************************************************************************/


/******************************************T-SHIRT*******************************************/
.registation {
	width: 600px;
	margin: 0 auto;

}

.registation > form > p {
	color: white;
}


/*******************************************************************************************/


/******************************************AUTH*******************************************/

.container{
	position:absolute;
	width: auto;
	height:80vh;
	top: calc(50% - 240px);
	left: calc(50% - 160px);
}

.auth-form {
	position: absolute;
	text-align: center;
	background: #fff;
	width: 310px;
	height: 470px;
	border-radius: 5px;
	padding: 30px 20px 0 20px;
	box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
}

.text-auth{
	font-family: 'impact', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 12px;
	color: rgba(0,0,0,.9);
	margin-bottom: 2em;
}


h3 {
	font-family: 'impact';
	font-size: 30px;
	text-transform: uppercase;
	color: rgba(0,0,0,.9);
	margin-bottom: 30px;
}

.input-button-auth{
	outline: none !important; 
}

button.fb {
	border: none;
	background: #3b5998;
	width: 160px;
	height: 25px;
	font-family: 'impact', sans-serif;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 4px;
	border: 1px solid #29487d;
	cursor: pointer;
	margin-bottom: 20px;
	transition:all 0.3s linear;
}
button.fb:hover {
	background: #fff;
	color: #3b5998;
}
button.gg {
	border: none;
	background: #A60000;
	width: 160px;
	height: 25px;
	font-family: 'impact', sans-serif;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 4px;
	border: 1px solid #A60000;
	cursor: pointer;
	margin-bottom: 20px;
	transition:all 0.3s linear;
}
button.gg:hover {
	background: #fff;
	color: #A60000;
}

button.form-btn {
	position: absolute;
	width: 50%;
	height: 60px;
	bottom: 0;
	border: 0;
	font-family: 'impact';
	font-size: 24px;
	text-transform: uppercase;
	cursor: pointer;
}

button.form-btn.sx {
	left: 0;
	border-radius: 0 0 0 5px;
	background-color: rgba(255,255,255,0.9);
	color: rgba(0,0,0,0.9);
	transition:all 0.3s linear;
}

button.form-btn.sx:hover {
	background-color:rgb(0,0,0);
	color: #fff;
}

button.form-btn.sx.back {
	transition:all 0.3s linear;
}

button.form-btn.sx.back:hover {
	background-color: black;
}

button.form-btn.dx {
	right: 0;
	border-radius: 0 0 5px 0;
	background-color: #A60000;
	color: #fff;
}

.input-auth {
	border: none;
	border-bottom: 1px solid black;
	width: 100%;
	font-family: 'impact';
	color: black;
	text-align: center;
	font-size: 14px;
	font-weight:100;
	margin-bottom:25px;
}



.signIn .input-auth,
.signUp .w100 {
	width: 100%;
}

.signIn{
		z-index: 1;
		transform: perspective(100px) translate3d(100px, 0px, -30px);
		opacity: 0.5;
}

.signUp {
	z-index: 2;
}

.active-dx{
	animation-name: foregrounding-dx;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

.active-sx{
	animation-name: foregrounding-sx;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

.inactive-dx{
	animation-name: overshadowing-dx;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

.inactive-sx{
	animation-name: overshadowing-sx;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

@keyframes overshadowing-dx {
	0%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
		box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
	}
	100%{
		z-index: 1;
		transform: perspective(100px) translate3d(100px, 0px, -30px);
		opacity: 0.5;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
	}
}

@keyframes overshadowing-sx {
	0%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
		box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
	}
	100%{
		z-index: 1;
		transform: perspective(100px) translate3d(-100px, 0px, -30px);
		opacity: 0.5;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
	}
}

@keyframes foregrounding-dx {
	0%{
		z-index:1;
		transform: perspective(100px) translate3d(100px, 0px, -30px);
		opacity: 0.5;
	}
	50%{
		z-index:2;
		transform: perspective(100px) translate3d(400px, 0px, -30px);
	}
	100%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}

@keyframes foregrounding-sx {
	0%{
		z-index:1;
		transform: perspective(100px) translate3d(-100px, 0px, -30px);
		opacity: 0.5;
	}
	50%{
		z-index:2;
		transform: perspective(100px) translate3d(-400px, 0px, -30px);
	}
	100%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}
/*******************************************************************************************/
/******************************************SHOPPING CART*******************************************/
.main-shopping-cart {
	font-family: impact;
	max-width: 900px;
	margin: 30px auto;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.item-shopping-1 {
	margin-right: 20px;
}
.ahead-shopping-cart {
 margin-left: 20px;
 margin-right: 20px;
}
.info-shopping-cart {
	border-top: 1px solid white;
	padding: 25px;
		display: flex;


}
.info-shopping-cart > .shirt > img {
	max-width: 200px;
}
.img-cross > a > img {
	width: 20px;
}

.shopping-cart-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 10px;


}
.cart {
 	position: relative;

}
.cartnumber {
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: impact;
	border-radius: 10px;
	color: white;
	width: 20px;
	height: 20px;
	position: absolute;
	background-color: #A60000;
	top: 11px;
	left: 10px;
}
.shopping-cart-num {

	display: flex;
	justify-content: center;
	align-items: center;
}
.shopping-cart-num > .shopping-cart-num-minus {
	padding: 10px;
	font-size: 25px;
}
.shopping-cart-num > .shopping-cart-num-plus {
	font-size: 25px;
	padding: 10px;
}
.shopping-cart-num > .shopping-cart-num-current > input {
max-width: 40px;
text-align: center;

}
.main-shopping-cart > .ahead-shopping-cart > .ahead-items {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid white;
	padding:30px 0px;
}
.main-shopping-cart > .ahead-shopping-cart > div  > .ahead-itemss{
 display: flex;
 justify-content: space-between;
}
.button-shop-cart {
	display: flex;
	justify-content: center;
}
.button-shop-cart > button {
	font-family: impact;
	width: 30%;
	height: 40px;
	border: 1px solid white;
	background-color: black;
	color:white;
}
.shopping-cart-i {
	margin: 20px;
	flex-basis: 400px;
	flex-grow: 1;
}
.ahead-items-1 {
	padding-bottom: 20px;
}
.coupon {
	border-top: 0.5px solid white;
	position: relative;
	border-bottom: 0.5px solid white;

}

.promo {
	margin: 20px 0px 0px 30px;
}
.wish {
	cursor: pointer;
	margin: 20px 0px 20px 30px;

}

.coupon-text {
	cursor: pointer;
	padding: 0 0 0 28px;
	background: url('../images/coupon.svg') left no-repeat;
	background-size:20px;
}
.coupon-text_2 {
	padding: 0 0 0 24px;
	background: url('../images/paper.svg') left no-repeat;
	background-size:18px;
}
.promoinput-1 > input {
	background: black;
	border: 1px solid white;
	text-align: center;
	font-size: 10px;
	width: 150px;
	height: 30px;
}
.promoinput-1 > button{
	font-size: 10px;
	width: 40px;
	background: black;
	color: white;
	height: 33.98px;
	border: 1px solid white;
}
.promoinput-1 {
	padding-top: 20px;
}
.promoinput-2 > input {
	background: black;
	border: 1px solid white;
	text-align: center;
	font-size: 10px;
	width: 150px;
	height: 30px;
}
.promoinput-2 > button{
	font-size: 10px;
	width: 40px;
	background: black;
	color: white;
	height: 33.98px;
	border: 1px solid white;
}
.promoinput-2 {
	padding-top: 20px;
}
.noiteminthecart {
	border-top: 0.5px solid white;
	border-bottom: 0.5px solid white;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.main-shopping-cart-name {
		text-align: center;
	}
.main-shopping-cart-name1 {
	display: none;
	
}
.shopping-cart-i-price-1 {
		display: none;
	}
@media(max-width: 767px) {
	.promo {
	margin: 20px 0px 0px 30px;
	}
.wish {
	cursor: pointer;
	margin: 20px 0px 20px 30px;

}
	.coupon-text {
	cursor: pointer;
	padding: 0 0 0 19px;
	background: url('../images/coupon.svg') left no-repeat;
	background-size:12px;
}
.coupon-text_2 {
	padding: 0 0 0 15px;
	background: url('../images/paper.svg') left no-repeat;
	background-size:10px;
}
.promoinput-1 > input {
	background: black;
	border: 1px solid white;
	text-align: center;
	font-size: 7px;
	width: 150px;
	height: 20px;
}
.promoinput-1 > button{
	font-size: 7px;
	width: 40px;
	background: black;
	color: white;
	height: 24px;
	border: 1px solid white;
}
.promoinput-1 {
	padding-top: 10px;
}
.promoinput-2 > input {
	background: black;
	border: 1px solid white;
	text-align: center;
	font-size: 7px;
	width: 150px;
	height: 20px;
}
.promoinput-2 > button{
	font-size: 7px;
	width: 40px;
	background: black;
	color: white;
	height: 24px;
	border: 1px solid white;
}
.promoinput-2 {
	padding-top: 10px;
}
	.shopping-cart-num > .shopping-cart-num-current > input {
max-width: 20px;
max-height: 10px;
text-align: center;
font-size: 9px;

}
	.info-shopping-cart > .shirt > img {
	max-width: 135px;
}
	.main-shopping-cart-name {
		display: none;
	}
	.main-shopping-cart-name1 {
		display: block;
		text-align: center;
	}
	.shopping-cart-i-price {
		display: none;
	}
	.shopping-cart-i-price-1 {
		display: block;
		margin-bottom: 40px;
	}
	.img-cross {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.shopping-cart-i {
	margin: 10px;
	flex-basis: 400px;
	flex-grow: 1;
}
.main-shopping-cart {
	font-size: 10px;

}
.img-cross > a > img {
	width: 15px;
}
.shopping-cart-num > .shopping-cart-num-minus {
	padding: 5px;
	font-size: 15px;
}
.shopping-cart-num > .shopping-cart-num-plus {
	font-size: 15px;
	padding: 5px;
}
.shopping-cart-item {
	padding-bottom: 5px;


}
.info-shopping-cart {
	border-top: 1px solid white;
	padding: 15px;
		display: flex;


}
}
@media(max-width: 376px) {
	.shopping-cart-i {
		margin: 20px;
	}
	.info-shopping-cart {
		padding: 0px;
	}
}
@media(max-width: 330px) {
	.shopping-cart-i {
		margin: 10px;
	}
	.info-shopping-cart {
		padding: 15px;
	}
}
/*******************************************************************************************/
/******************************************PERSONAL AREA*******************************************/
.main-personal {
	font-family: impact;
	max-width: 940px;
	margin: 50px auto;
	display: flex;
	color: white;
}
.main-pic-switch {
	display: flex;
	flex-direction: column;
}
.personal-pic {
	max-width: 300px;
	height: 200px;
	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.personal-switch {
	width: 300px;
	height: 200px;
	border: 1px solid white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main-info {
	width: 100%;
}
.personal-pic-item > img {
	width: 100px;
}
.personal-switch-item:last-child {
	width: 100px;
	text-align: center;
}
.main-info-item {
	display: flex;
	justify-content: center;

}
.main-info-item-elem {
	margin: 20px;
}
.main-info-item:nth-child(4) {
	flex-direction: column;
	align-items: center;

}
.main-info-item:nth-child(4) > .main-info-adress:first-child > input{
	width: 500px;
	background-color: black;
	color: white;
	border: 1px solid white;
	padding: 5px;
	margin: 10px;
}
.main-info-adress-item > input {

	width: 230px;
	background-color: black;
	color: white;
	border: 1px solid white;
	padding: 5px;
	margin: 0px 10px 15px 10px;
}
.main-info-adress-item {
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-info-adress-item > button {
	font-size: 13px;
	width: 130px;
	background: black;
	color: white;
	height: 26px;
	border: 1px solid white;
	margin-bottom: 10px;
	margin-top: 10px;
}
.main-info-item-elem-2 > input {
	width: 230px;
	background-color: black;
	border: 1px solid white;
	padding: 5px;
	margin: 10px 0px 0px 0px;
}

.personal-switch {
	font-size: 22px;
}
.main-info-orders {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.personal-switch-item > a{
	color: white;
	}
@media(max-width: 767px) {
	h1 {
		text-align: center;
	}
	.personal-switch {
		border: none;
		height: 100%;
		margin-bottom: 30px;
	}
	.personal-switch-item > a {
		text-decoration: none;
	}
	.personal-pic {
		border: none;
		height: 100%;
		margin-bottom: 30px;
	}
	.main-personal {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.main-info-item 
	{
		flex-direction: column;
	}
	.main-info-adress-item {
		display: flex;
		flex-direction: column;
	}

	.main-info-item:nth-child(4) > .main-info-adress:first-child > input{
	width: 230px;
	background-color: black;
	color: white;
	padding: 5px;
	margin: 10px;
}
.main-info-item-elem-2 > input {
	width: 90%;
	background-color: black;
	border: 1px solid white;
	padding: 5px;
	margin: 10px 0px 0px 0px;
}
.main-pic-switch {
	display: flex;
	flex-direction: column-reverse;
}
.main-info-adress-item > button {
	font-size: 13px;
	width: 130px;
	background: black;
	color: white;
	height: 26px;
	border: 1px solid white;
	margin-bottom: 0px;
	margin-top: 10px;
}
}
/*******************************************************************************************/